markdown ::ng-deep a,
markdown ::ng-deep a:visited {
  color: #1b69b6;
  text-decoration: none;
}

markdown ::ng-deep a::after {
  font-family: 'Material Icons' serif;
  content: "exit_to_app";
  padding-left: 5px;
  line-height: 10px;
}

markdown ::ng-deep code {
  color: #1f1f1f;
  background-color: #f0f0f0;
  font-family: menlo, dejavu sans mono, liberation mono, consolas, ubuntu mono, sans-serif;
  padding: 2px 4px;
}

markdown ::ng-deep pre code {
  color: inherit;
  background-color: inherit;
}
