# MacOS
.DS_Store

# Logs
*.log

# Node
dist/
node_modules/
test-results.xml
coverage/
*-generated.*

# VSCode
.editorconfig

# Tests
report/
.nyc_output/

## Mega-Linter
/.eslintrc.*

## Python
__pycache__
.pytest_cache
.coverage
/build
/dist
/compose.spec

## Ansible
.dockerignore
Dockerfile
!/dev-tutorial-deployer/Dockerfile
/*/src/environments/
/dev-tutorial-app/src/proxy.conf.js

# Sonarqube
.scannerwork/

# Documentation
/docs/_build
