# MacOS
.DS_Store

# Logs
*.log

# Node
dist/
node_modules/
test-results.xml

# VSCode
.editorconfig

# CLI Tools (WIP: out of git)
/dev-tutorial-cli

# Tests
report/
.nyc_output/
## Mega-Linter
/.eslintrc.*
## Python
/__pycache__
/build
/dist
/compose.spec
## Ansible
.dockerignore
Dockerfile*
!/dev-tutorial-deployer/**/Dockerfile.*
/*/src/environments/
/dev-tutorial-app/src/proxy.conf.js
docs/
