---
- name: Create an .eslintrc # megalinter requirement for multimodule project
  copy:
    dest: "{{ deployer_local_workspace }}/.eslintrc.json"
    content: "{}"

- name: Pull the linter image
  docker_image:
    name: nvuillam/mega-linter:v4
    source: pull

- name: Run linter
  docker_container:
    name: megalinter
    image: nvuillam/mega-linter:v4
    cleanup: yes
    detach: no
    volumes:
      - "{{ deployer_hosted_workspace }}:/tmp/lint"
    env:
      GITHUB_TOKEN: "{{ code_check_github_token | default(omit) }}"
      APPLY_FIXES: "{{ code_check_apply_fixes | bool | ternary('all', 'none') }}"
      ENABLE_LINTERS: "{{ code_check_enable_linters }}"
      ENABLE: "{{ code_check_enable_languages }}"
  ignore_errors: yes
  register: _result

- name: Print results
  debug:
    var: report_lines
  failed_when: "failures | length > 0"
  vars:
    result: "{{ _result is failed | ternary(_result.msg, _result.stdout) }}"
    report_text: "{{ result | regex_search('(.+SUMMARY.+)(\n(.+))*', multiline=True) }}"
    report_lines: "{{ report_text.split('\n') }}"
    failures: "{{ report_lines | map('regex_search', '(âŒ [A-Z]+)') | select | unique }}"
