/* {{ ansible_managed }} */
export const environment = {
  production: {{ prepare_env_api_production | string | lower }},
  docker: {
  {% for key, value in prepare_env_api_docker.items() %}
  {{ key }}: {{ "'" + value + "'" if value is string else value }},
  {% endfor -%}
  },
  mongodb: '{{ prepare_env_api_mongodb }}',
};
