<h2 mat-dialog-title>Bravo !</h2>
<mat-dialog-content class="mat-typography">
  <h3>Tutoriel terminé avec succès</h3>
  <p>Vous avez termine toutes les etapes du tutoriel.</p>
  <p>Vous pouvez decider de retourner au menu principal 
    ou rester sur cette page pour continuer a jouer avec l'environnement</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close('stay')">Rester</button>
  <button mat-button (click)="close('leave')">Quitter</button>
</mat-dialog-actions>