#app-tutorials-panel {
  margin: 10px;
}

#app-tutorials-panel #search-input {
  width: 80%;
  margin: auto;
}

#app-tutorials-panel #search-input #search {
  width: 100%;
}

#app-tutorials-panel .panel-cards {
  column-count: 4;
  column-gap: 1em;
}

#app-tutorials-panel .panel-card {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

#app-tutorials-panel .panel-card .panel-card-header-image {
  background-size: cover;
}

