/* {{ ansible_managed }} */
export const environment = {
  production: {{ dockerize_api_production | string | lower }},
  docker: {
  {% for key, value in dockerize_api_docker.items() %}
  {{ key }}: {{ "'" + value + "'" if value is string else value }},
  {% endfor -%}
  },
  mongodb: '{{ dockerize_api_mongodb }}',
  tokens: {
    accessToken: {
      secret: '{{ lookup('password', '/dev/null chars=ascii_lowercase,digits length=32') }}',
      expiresIn: {{ dockerize_api_token_access_expiresIn }},
    },
    refreshToken: {
      secret: '{{ lookup('password', '/dev/null chars=ascii_lowercase,digits length=32') }}',
      expiresIn: {{ dockerize_api_token_refresh_expiresIn }},
    }
  }
};
